<div class="card card-user" style="width: 20rem; margin: auto auto; margin-top: 5rem">
        <div class="">
            <img src="assets/img/AbrePorton300x223.png" alt="..." />
        </div>
        <div class="content">
            <form>
                <div class="form-group px-3">
                    <label>Correo</label>
                    <input type="email" class="form-control" name="email" placeholder="Ingresar Correo Electrónico" #passwordResetEmail required>
                </div>
                <br>
                <div class="px-3">
                    <button type="submit" class="btn btn-primary btn-fill btn-block" (click)="forgot(passwordResetEmail.value)">Recuperar contraseña</button>
    
    
                </div>
            </form>
        </div>
    
    
    </div>