<div class="row">
    <div class="col-lg-8 col-sm-12">
        <!-- <div class="card">
            <div class="card-header">
                <h4 class="card-title">
                    <div *ngIf="id==0;then content else other_content">here is ignored
                    </div>
                    <ng-template #content>Agregar Administración</ng-template>
                    <ng-template #other_content><label>Editar Usuario</label></ng-template>
                </h4>
            </div>
            <div class="px-3 pt-2">
                <form [formGroup]="forma" (ngSubmit)="saveUsuario()">
                    <div class="form-group">
                        <label for="txtNombre">Comunidad a la que pertenece:</label>
                        <div class="form-group">
                            <select #t (change)="getPropiedades(t.value)" class="form-control" formControlName="comunidadSeleccionada">
                                <option [value]="item.Id" *ngFor="let item of comunidades">{{item.NombreComunidad}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-danger': !forma.controls['Nombre'].value}">
                        <label for="txtNombre">Nombre del usuario</label>
                        <input type="text" class="form-control" formControlName="Nombre"
                            placeholder="Nombre y apellido">
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-danger': !forma.controls['Email'].value}">
                        <div class="form-group">
                            <label for="txtEmail">Email</label>
                            <input type="email" class="form-control" formControlName="Email"
                                placeholder="nombre@dominio.cl">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtNumeroCasa">Número de casa</label>
                        <div class="form-group">
                            <select name="miselect2" class="form-control" formControlName="propiedadSeleccionada">
                                <option [value]="item.IdComunidad" *ngFor="let item of propiedades">{{item.NumeroCasa}}
                                </option>
                            </select> {{this.propiedadSeleccionada}}
                        </div>
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-danger': !forma.controls['Habilitado'].value}">
                        <div class="form-group">
                            <label for="txtEmail">Habilitado</label>
                            <div class="custom-control custom-switch ">
                                <input type="checkbox" class="custom-control-input lg" formControlName="Habilitado"
                                    id="customSwitches">
                                <label class="custom-control-label" for="customSwitches"></label>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="id==0;then content_btn else other_content_btn">here is ignored
                    </div>
                    <ng-template #content_btn>
                        <button class="btn btn-success" [disabled]="!forma.valid">
                            Agregar Usuario
                        </button>
                    </ng-template>
                    <ng-template #other_content_btn><label>
                            <button class="btn btn-success" [disabled]="!forma.valid">
                                Editar Usuario
                            </button></label>
                    </ng-template>
                </form>
            </div>
        </div> -->
    </div>
</div>